APP_ENV=development
PORT=8080

DATABASE_URL=postgrpostgres:postgres@postgres:5432/accounting_platform?sslmode=disable

JWT_SECRET=change-this-secret
SESSION_SECRET=change-this-secret

FRONTEND_URL=http://localhost:3000

ADMIN_EMAIL=admin@example.com
ADMIN_DEFAULT_PASSWORD=ChangeMe123!

STORAGE_PROVIDER=local
LOCAL_UPLOAD_DIR=./tmp/uploads-for-local-development
